.question-box {
  background-color: white;
  padding: 1.5rem;
  margin: 1rem;
  box-shadow: 1px 1px 5px 2px rgb(209, 209, 209);
}

.answer-buttons {
  display: flex;
  justify-content: center;
}

.answer-buttons button {
  margin: 1rem;
  background-color: black;
  font-weight: 600;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
}

.question-box button:hover {
  background-color: rgb(183, 6, 253);

  color: white;
}

.results-btn {
  text-align: center;
}

.results-btn button {
  background-color: rgb(92, 6, 253);
  margin: 1rem;
  font-weight: 600;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
}

.score {
  text-align: center;
}

.score h1 {
  background-color: rgb(248, 248, 248);
  display: inline-block;
  padding: 1rem;
  box-shadow: 1px 1px 5px 2px rgb(209, 209, 209);
}
